<a href="https://colab.research.google.com/github/yuvarajsri/HOUSE-SALE-PRICE-USING-LINEAR-REGRESSION/blob/main/HOUSE_SALEPRICE_PREDICTION_USING_(LINEAR_REGRESSION)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data=pd.read_csv("/content/drive/MyDrive/ml1/Transformed_Housing_Data2.csv")

In [ ]:

data

       Sale_Price  ...  Zipcode_Group_Zipcode_Group_9
0        221900.0  ...                              0
1        538000.0  ...                              0
2        180000.0  ...                              0
3        604000.0  ...                              0
4        510000.0  ...                              0
...           ...  ...                            ...
21604    360000.0  ...                              0
21605    400000.0  ...                              0
21606    402101.0  ...                              0
21607    400000.0  ...                              0
21608    325000.0  ...                              0

[21609 rows x 31 columns]

In [ ]:

x=data.drop(columns=["Sale_Price"])

In [ ]:
x

       No of Bedrooms  ...  Zipcode_Group_Zipcode_Group_9
0                   3  ...                              0
1                   3  ...                              0
2                   2  ...                              0
3                   4  ...                              0
4                   3  ...                              0
...               ...  ...                            ...
21604               3  ...                              0
21605               4  ...                              0
21606               2  ...                              0
21607               3  ...                              0
21608               2  ...                              0

[21609 rows x 30 columns]

#SCALING THE  INDENPENDENT VARAIBLES

In [ ]:




from sklearn.preprocessing import StandardScaler
scaling=StandardScaler()
X=scaling.fit_transform(data.drop(columns=["Sale_Price"]))

#CREATING DATAFRAME AFTER SCALING

In [ ]:


X=pd.DataFrame(x,columns=data.drop(columns=["Sale_Price"]).columns)

In [ ]:
X

       No of Bedrooms  ...  Zipcode_Group_Zipcode_Group_9
0           -0.398724  ...                      -0.048158
1           -0.398724  ...                      -0.048158
2           -1.474115  ...                      -0.048158
3            0.676667  ...                      -0.048158
4           -0.398724  ...                      -0.048158
...               ...  ...                            ...
21604       -0.398724  ...                      -0.048158
21605        0.676667  ...                      -0.048158
21606       -1.474115  ...                      -0.048158
21607       -0.398724  ...                      -0.048158
21608       -1.474115  ...                      -0.048158

[21609 rows x 30 columns]

VERFYING THE MULTICOLINEARITY AMONG INDENPENDENT VARAIABLES

In [ ]:
C=X.corr()
C
v=[[str(i),str(j)]for i in C.columns for j in C.columns if(C.loc[i,j]>abs(0.5))&(i!=j) ]

In [ ]:
v ,len(v)

([['No of Bedrooms', 'No of Bathrooms'],
  ['No of Bedrooms', 'Flat Area (in Sqft)'],
  ['No of Bathrooms', 'No of Bedrooms'],
  ['No of Bathrooms', 'Flat Area (in Sqft)'],
  ['No of Bathrooms', 'No of Floors'],
  ['No of Bathrooms', 'Overall Grade'],
  ['No of Bathrooms', 'Area of the House from Basement (in Sqft)'],
  ['No of Bathrooms', 'Living Area after Renovation (in Sqft)'],
  ['Flat Area (in Sqft)', 'No of Bedrooms'],
  ['Flat Area (in Sqft)', 'No of Bathrooms'],
  ['Flat Area (in Sqft)', 'Overall Grade'],
  ['Flat Area (in Sqft)', 'Area of the House from Basement (in Sqft)'],
  ['Flat Area (in Sqft)', 'Living Area after Renovation (in Sqft)'],
  ['Lot Area (in Sqft)', 'Lot Area after Renovation (in Sqft)'],
  ['No of Floors', 'No of Bathrooms'],
  ['No of Floors', 'Area of the House from Basement (in Sqft)'],
  ['Overall Grade', 'No of Bathrooms'],
  ['Overall Grade', 'Flat Area (in Sqft)'],
  ['Overall Grade', 'Area of the House from Basement (in Sqft)'],
  ['Overall Grade', 'Living Area after Renovation (in Sqft)'],
  ['Area of the House from Basement (in Sqft)', 'No of Bathrooms'],
  ['Area of the House from Basement (in Sqft)', 'Flat Area (in Sqft)'],
  ['Area of the House from Basement (in Sqft)', 'No of Floors'],
  ['Area of the House from Basement (in Sqft)', 'Overall Grade'],
  ['Area of the House from Basement (in Sqft)',
   'Living Area after Renovation (in Sqft)'],
  ['Living Area after Renovation (in Sqft)', 'No of Bathrooms'],
  ['Living Area after Renovation (in Sqft)', 'Flat Area (in Sqft)'],
  ['Living Area after Renovation (in Sqft)', 'Overall Grade'],
  ['Living Area after Renovation (in Sqft)',
   'Area of the House from Basement (in Sqft)'],
  ['Lot Area after Renovation (in Sqft)', 'Lot Area (in Sqft)'],
  ['Years Since Renovation', 'Ever_Renovated_Yes'],
  ['Ever_Renovated_Yes', 'Years Since Renovation']],
 32)

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif_data=X

In [ ]:
vif_of_data=pd.Series([variance_inflation_factor(vif_data.values,i)for i in range(vif_data.shape[1])],index=vif_data.columns)

In [ ]:
vif_of_data

No of Bedrooms                                  1.639470
No of Bathrooms                                 3.374992
Flat Area (in Sqft)                          1481.681648
Lot Area (in Sqft)                              2.108079
No of Floors                                    2.127787
No of Times Visited                             1.432385
Overall Grade                                   2.967448
Area of the House from Basement (in Sqft)    1205.549115
Basement Area (in Sqft)                       345.465009
Age of House (in Years)                         2.629539
Latitude                                        2.471442
Longitude                                       1.672691
Living Area after Renovation (in Sqft)          3.068139
Lot Area after Renovation (in Sqft)             2.144347
Years Since Renovation                          2.788098
Condition_of_the_House_Excellent               53.578111
Condition_of_the_House_Fair                   166.129930
Condition_of_the_House_Good                   141.324536
Condition_of_the_House_Okay                     6.703057
Ever_Renovated_Yes                              2.955790
Waterfront_View_Yes                             1.208439
Zipcode_Group_Zipcode_Group_1                   1.538226
Zipcode_Group_Zipcode_Group_2                   2.570591
Zipcode_Group_Zipcode_Group_3                   2.818579
Zipcode_Group_Zipcode_Group_4                   3.193051
Zipcode_Group_Zipcode_Group_5                   1.728330
Zipcode_Group_Zipcode_Group_6                   2.015017
Zipcode_Group_Zipcode_Group_7                   1.233754
Zipcode_Group_Zipcode_Group_8                   1.389653
Zipcode_Group_Zipcode_Group_9                   1.048579
dtype: float64

In [ ]:
def MC_remover(data):
  vif = pd.Series([variance_inflation_factor(data.values, i) for i in range(data.shape[1])], index = data.columns)
  if vif.max() > 5:
    print(vif[vif == vif.max()].index[0],'has been removed')
    data = data.drop(columns = [vif[vif == vif.max()].index[0]])
    return data
  else:
    print('No Multicollinearity present anymore')
    return data

In [ ]:
for i in range(7):
  vif_data = MC_remover(vif_data)

vif_data.head()

Flat Area (in Sqft) has been removed
Condition_of_the_House_Fair has been removed
No Multicollinearity present anymore
No Multicollinearity present anymore
No Multicollinearity present anymore
No Multicollinearity present anymore
No Multicollinearity present anymore

   No of Bedrooms  ...  Zipcode_Group_Zipcode_Group_9
0       -0.398724  ...                      -0.048158
1       -0.398724  ...                      -0.048158
2       -1.474115  ...                      -0.048158
3        0.676667  ...                      -0.048158
4       -0.398724  ...                      -0.048158

[5 rows x 28 columns]

In [ ]:
vif_of_data=pd.Series([variance_inflation_factor(vif_data.values,i)for i in range(vif_data.shape[1])],index=vif_data.columns)

In [ ]:
vif_of_data

No of Bedrooms                               1.638990
No of Bathrooms                              3.373805
Lot Area (in Sqft)                           2.107495
No of Floors                                 2.127703
No of Times Visited                          1.432363
Overall Grade                                2.956967
Area of the House from Basement (in Sqft)    4.580042
Basement Area (in Sqft)                      1.974981
Age of House (in Years)                      2.626504
Latitude                                     2.471343
Longitude                                    1.672667
Living Area after Renovation (in Sqft)       3.063886
Lot Area after Renovation (in Sqft)          2.144068
Years Since Renovation                       2.788064
Condition_of_the_House_Excellent             1.206487
Condition_of_the_House_Good                  1.251488
Condition_of_the_House_Okay                  1.025386
Ever_Renovated_Yes                           2.955539
Waterfront_View_Yes                          1.208288
Zipcode_Group_Zipcode_Group_1                1.538211
Zipcode_Group_Zipcode_Group_2                2.570583
Zipcode_Group_Zipcode_Group_3                2.818509
Zipcode_Group_Zipcode_Group_4                3.192429
Zipcode_Group_Zipcode_Group_5                1.728047
Zipcode_Group_Zipcode_Group_6                2.014775
Zipcode_Group_Zipcode_Group_7                1.233626
Zipcode_Group_Zipcode_Group_8                1.389355
Zipcode_Group_Zipcode_Group_9                1.048571
dtype: float64

IMPLEMENTING LINEAR REGRESSION

In [ ]:
X = vif_data
Y = data['Sale_Price']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state = 1)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((16206, 28), (5403, 28), (16206,), (5403,))

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [ ]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
y_pred

array([432432.64743669, 342502.80723212, 515554.26007032, ...,
       577382.75601214, 452219.88935229, 582058.59461351])

In [ ]:
from sklearn.metrics import r2_score

ValueError: ignored

In [ ]:
_